
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Bot</title>
</head>
<body>
    <form action="/products" method="post" enctype="text/plain">  <!-- todo -->
        <input type="text" name="productName" placeholder="Product Name"><br><br>
        <input type="text" name="description" placeholder="Description"><br><br>
        <button>Dodaj</button>
    </form>
</body>
</html>

